# Maven
/.mvn/ 
/.mvn/timing.log

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.venv/
bin/
*
*.pyc

# Visual Studio Code
.vscode/

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Spring Boot
*.log
*.jar
*.war
*.class

# Operating Systems
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Logs
*.log

# Libraries
lib/
